body{
    background-image:url(http://i.imgur.com/EE8gLXu.png), url(http://i.imgur.com/b7YpbY8.png);
    background-repeat: no-repeat;
    padding: 250px 0 0 80px;
    ba

	}

hr {
	border-color: red;
	width: 3%;
	margin: 0 0 0 0;
}
h2{
color: white;
font-weight: normal;
font-family: verdana, sans-serif;
font-size: 20px;
}

h1{
	color: white;
	font-family: Trebuchet, sans-serif;
	font-weight: bold;
}
